@import "MainStyles.css";
body{
    display: flex;
}
.Login_input,.Password_input{
    display: flex;
    width: 33%;
    height: 40px;
    margin-top: 10px;
    margin-left: 100px;
}
.LoginArea{
    margin-top: 200px;
    padding: 10px;
    background-color:rgb(55, 98, 184);
    border: black 1px solid;
    border-radius: 15px;
    width: max-content;
    height: 140px;
    margin-left: 33%;
    box-shadow: 0 5px 15px rgba(0, 0, 0, 0.5);
}

.KeepGoing, .Register_button{
    margin-top: 20px;
    background-color: rgb(14, 9, 112);
    border:1px black solid;
    border-radius: 15px;
    height: 50px;
    width: 300px;
    box-shadow: 0 9px rgb(60, 63, 114);
    -webkit-transition: all 0.8s cubic-bezier(0.165, 0.84, 0.44, 1);
    transition: all 0.8s cubic-bezier(0.165, 0.84, 0.44, 1);
}

.KeepGoing:hover, .Register_button:hover{
    -webkit-transform: translatey(4px);
    transform: translatey(4px);
    box-shadow: 0 5px 15px rgba(0, 0, 0, 0.5);
    background-color:  rgb(157, 242, 156);
}

input{
    font-size: 20px;
    border-radius: 10px;
    height: 30px;
    width: 200px;
    resize: none;
}

.Login_Input{
    margin-left: 58px;
}

.Password_Input{
    margin-left: 28px;
}


