@import "MainStyles.css";
.Login_input,.Password_input{
    display: flex;
    width: 33%;
    height: 40px;
    margin-top: 10px;
    margin-left: 100px;
}
.LoginArea{
    padding: 10px;
    background-color: beige;
    border: black 1px solid;
    border-radius: 15px;
    width: 33%;
    height: 120px;
    margin-top: 30px;
    margin-left: 33%;
    box-shadow: 0 5px 15px rgba(0, 0, 0, 0.5);
}

.KeepGoing, .Register_button{
    margin-top: -20px;
    background-color: beige;
    border:1px black solid;
    border-radius: 15px;
    height: 50px;
    width: 300px;
    box-shadow: 0 9px #999;
    -webkit-transition: all 0.8s cubic-bezier(0.165, 0.84, 0.44, 1);
    transition: all 0.8s cubic-bezier(0.165, 0.84, 0.44, 1);
    margin-left: 40%;
}

.KeepGoing:hover, .Register_button:hover{
    -webkit-transform: translatey(4px);
    transform: translatey(4px);
    box-shadow: 0 5px 15px rgba(0, 0, 0, 0.5);
    background-color:  rgb(157, 242, 156);
}

input{
    font-size: 20px;
    border-radius: 10px;
    height: 30px;
    width: 200px;
    resize: none;;
}


