a{
    color: white;
    text-decoration: none;
    font-family: "Roboto";

}
header{
    width: 1448px;
    display: flex;
    height:200px;
    font-size: 60px;
    background-color:rgb(51, 90, 168);
    border-radius: 100px;
    box-shadow: 0 9px rgb(50, 52, 88);
    padding: 10px 0px 10px 0px;
    margin-left: 60px;
    margin-right: 60px;
}
.HeaderText{
    margin-top: 70px;
    color: black;
}
.Logo{
    margin-left: 30px;
    width: 200px;
    height: 200px;
}
body{
    background-color: aliceblue;
    background-size: cover;
    background-position: center center;
    background-repeat: no-repeat;
    background-attachment: fixed;
}   

footer{
    width: 100%;
    display: flex;
    background-color:rgb(87, 87, 87);
    left: 0;
    bottom: 0;
    height: fit-content;
    color: rgb(0, 0, 0);
    text-align: center;
    position: bottom;
}
.SocialURLS{
    padding: 1% 1% 1% 1%;
    font-size: 20px;
    display: flex;
    width: 33%;
}
.Contact_Pic{
    height: 18px;
    width: 18px;
    margin-right: 2px;
}

.Footer_Container{
margin-top: 56px;
margin-left: 360px;
}

.logo_footer{
    height: 110px;
    width: 110px;
}

.div_footer_logo{
    text-align: left;
    width: 33%;
    margin-left: 40px;
}
.Container_1{
    font-size: 20px;
    margin-top: 20px;
    width: 33%;
    display: flex;
    flex-flow: column wrap;
}
@font-face{
    font-family: "Roboto"; 
    src: url("../Fonts/Roboto-Black.ttf") format("truetype"); 
    font-style: normal; 
    font-weight: normal; 
} 