@import "MainStyles.css";

header{
    width: 1448px;
    display: flex;
    background-color: beige;
    height:200px;
    font-size: 60px;
    border-radius: 100px;
    box-shadow: 0 9px rgb(180, 180, 135);
    padding: 10px 0px 10px 0px;
    margin-left: 60px;
    margin-right: 60px;
}
.HeaderText{
    margin-top: 70px;
    color: black;
}
.Logo{
    margin-left: 30px;
    width: 200px;
    height: 200px;
}
h1{
    font-size: 61px;
}
.Buttons{
    display: flex;
    margin-left: 10%;
    margin-top: 40px;
}
.Register,.Login {
    background-color: beige;
    height: 80px;
    width: 300px;
    border-radius: 50px;
    margin-left: 40px;
    text-align: center;
    cursor: pointer;
    outline: none;
    border: 1px black solid;
    box-shadow: 0 9px rgb(180, 180, 135);
    -webkit-transition: all 0.8s cubic-bezier(0.165, 0.84, 0.44, 1);
    transition: all 0.8s cubic-bezier(0.165, 0.84, 0.44, 1);
}
.Register:hover,.Login:hover{
    -webkit-transform: translatey(4px);
    transform: translatey(4px);
    box-shadow: 0 5px 15px rgba(0, 0, 0, 0.5)
}

.Main_Content{
    margin-left:288px;
    background-color: rgb(223, 223, 202);
    height: 1000px;
    width: 1000px;
    padding: 10px 10px 10px 10px;
}

.Container_1{
    padding: 5px 5px 5px 5px;
    background-color: beige;
    text-align: left;
    width: 990px;
    height: max-content ;
}

.UserArea{
    text-align: right;
    margin-top: 4%;
    display: none;
    background-color: beige;
    border-radius: 25px;
    border: black solid 1px;
    width: 20%;
    margin-left: 22%;
    box-shadow: 0 9px rgb(180, 180, 135);
    height: 42%;
}

.User_Profile,.Icon,.Exit_From_Profile{
    height: 33%;
    margin-left: 10%;
}

.Exit_Account_Button{
    background-color: beige;
    border: 1px black solid;
    border-radius: 15px;
    width: 100px;
    height: 50px;
    font-size: 10px;
}
footer{
    width: 100%;
    display: flex;
    background-color: beige;
    height: fit-content;
    color: rgb(0, 0, 0);
    text-align: center;
    position: absolute;
    left: 0;
}
.SocialURLS{
    padding: 1% 1% 1% 1%;
    font-size: 20px;
    display: flex;
    width: 33%;
}
.Contact_Pic{
    height: 18px;
    width: 18px;
    margin-right: 2px;
}

.Footer_Container{
margin-top: 56px;
margin-left: 360px;
}

.logo_footer{
    height: 110px;
    width: 110px;
}

.div_footer_logo{
    text-align: left;
    width: 33%;
    margin-left: 40px;
}
.Container_1_footer{
    font-size: 20px;
    margin-top: 20px;
    width: 33%;
    display: flex;
    flex-flow: column wrap;
}