@import "MainStyles.css";
.RegisterArea{
    margin-top: 110px;
    text-align: center;
    margin-left: 11%;
    background-color: beige;
    width: 33%;
    height: max-content;
    border-radius: 20px;
    border: 1px black solid;
    box-shadow: 0 9px rgb(180, 180, 135);
}

input{
    font-size: 20px;
    border-radius: 10px;
    height: 30px;
    width: 400px;
    resize: none;
    box-shadow: 0 1px #999;
}
p{
    margin-top: 10px;
}
.KeepGoing{
    margin-top: 20px;
    margin-bottom: 30px;
    background-color: beige;
    border:1px black solid;
    border-radius: 15px;
    height: 50px;
    width: 300px;
    box-shadow: 0 9px rgb(180, 180, 135);
    -webkit-transition: all 0.8s cubic-bezier(0.165, 0.84, 0.44, 1);
    transition: all 0.8s cubic-bezier(0.165, 0.84, 0.44, 1);
}

.body-flex{
    display: flex;
    margin-top: 20px;   
}

.HaveAccountDiv{
    margin-top: 310px;
    text-align: center;
    font-size: 18px;
    margin-left: 10%;
    background-color: beige;
    width: 26%;
    height: 90px;
    border-radius: 20px;
    border: 1px black solid;
    box-shadow: 0 9px rgb(60, 63, 114);
}
.HaveAccountBtn{
    background-color: beige;
    border:1px black solid;
    border-radius: 15px;
    height: 50px;
    width: 300px;
    box-shadow: 0 9px rgb(60, 63, 114);
    -webkit-transition: all 0.8s cubic-bezier(0.165, 0.84, 0.44, 1);
    transition: all 0.8s cubic-bezier(0.165, 0.84, 0.44, 1);
}

.HaveAccountBtn:hover,.KeepGoing:hover{
    -webkit-transform: translatey(4px);
    transform: translatey(4px);
    box-shadow: 0 5px 15px rgba(0, 0, 0, 0.5);
    background-color:  rgb(157, 242, 156);
}

li{
    text-align: left;
    color:rgb(255, 147, 147);
    font-size: 20px;
    margin-left: 30px;
}

p{
    font-family: 'Roboto';
}
