a{
    color: black;
    text-decoration: none;
    font-family: "Roboto";
    font-size: 18px;
}

body{
    border: 0;
    padding: 0;
    margin: 0;
    background-image: url('../Resources/header.png');
    background-size: cover;
    background-position: center center;
    background-repeat: no-repeat;
    background-attachment: fixed;
}   

@font-face{
    font-family: "Roboto"; 
    src: url("../Fonts/Roboto-Black.ttf") format("truetype"); 
    font-style: normal; 
    font-weight: normal; 
} 

.GoMain_button{
    margin-top: 40px;
    font-family: "Roboto";
    font-size: 20px;
    background-color: beige;
    height: 80px;
    width: 240px;
    border-radius: 50px;
    margin-left: 40px;
    text-align: center;
    cursor: pointer;
    outline: none;
    border: 1px black solid;
    box-shadow: 0 9px rgba(0, 0, 0, 0.5);   
    -webkit-transition: all 0.8s cubic-bezier(0.165, 0.84, 0.44, 1);
    transition: all 0.8s cubic-bezier(0.165, 0.84, 0.44, 1);
}

.GoMain_button:hover{
    -webkit-transform: translatey(4px);
    transform: translatey(4px);
    box-shadow: 0 5px 15px rgba(0, 0, 0, 0.5)
}